@import "tailwindcss";

@theme {
  --color-primary-dark: #202940;
  --color-secondary-dark: #4b4038;
  --color-muted-accent: #9a8678;
  --color-light-accent: #caaa98;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100dvh;
}

body {
  margin: 0;
  font-family: Inter, "Segoe UI", Roboto, sans-serif;
  background-color: #202940;
  color: #f8f5f2;
}
